body {
  color: #767676;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.7;

  a {
    color: #193d84;
    font-weight: 600;
    text-decoration: none;
  }

  .link {
    span {
      display: block;
    }
    font-size: 22px;
    padding: 10px 0 0px 20px;
    margin-top: -5px;

    display: flex;
    flex-flow: row wrap;

    a {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-right: 55px;
    }
  }

  .link .material-symbols-outlined {
    // display: inline-block;
    // height: 50px;
    // width: 50px;
    // position: relative;
    // right: 10px;
    // top: 16px;
    font-size: 4rem;
    margin-right: 0.5rem;
  }

  h3 {
    color: #443f3f;
    font-size: 22px !important;
  }
}
